# .NET + VS garbage
bin/
obj/
.vs/
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Wrong files in library projects
ERP_Clients/Properties/launchSettings.json
ERP_Clients/Program.cs
ERP_Clients/appsettings*.json
ERP_Models/Properties/launchSettings.json
ERP_Models/Program.cs
ERP_Models/appsettings*.json

# Other junk
packages/
*.log
