# Add any directories, files, or patterns you don't want to be tracked by version control
**/v16/*
**/packages/*
**/bin/*
**/obj/*
**/Images/*
**/node_modules/**
**/*.lock
**/package-lock.json
.vs/*

ERP_Endpoints.sln
ERP_ApiGateway/ERP_ApiGateway.csproj.user
ERP_Attendance/ERP_Attendance.csproj.user
ERP_AuthService/ERP_AuthService.csproj.user
ERP_Background/ERP_Background.csproj.user
ERP_Cache/ERP_Cache.csproj.user
ERP_Clients/ERP_Clients.csproj.user
ERP_Models/ERP_Models.csproj.user
ERP_Organization/ERP_Organization.csproj.user
ERP_Endpoints/.vs/**
*.dockerignore
*.txt
*.pubxml
*.user